.NewCurrency{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.NewCurrency .PlusCreate{
    font-size: 20px;
    margin-right: 5px;
}

.NewCurrency .addCurrency{
    color: #3ea6f6;
    font-size: 13px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}