// colors
$colorSilver: #6b6b6b;

.Header {
	display: flex;
	align-items: center;
	padding: 0 18px 0 16px;
	background-color: black;
	justify-content: space-between;
	z-index: 1;
	.LogoBlock{
		display: flex;
		align-items: center;
		.LinkText{
			color: #FFF!important;
			height: 65px;
			margin-top: 2px;
			line-height: 60px;
			font-size: 28px;
			font-weight: 500;
			z-index: 1;
			text-transform: capitalize;
			margin-left: 12px;
		}
	}

	#MessageSVG{
	}
}
@media screen and (max-width: 375px) {
	.Header {
		position: fixed !important;
		width: 100%;
	}
}