.LogIn {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    @media screen and (max-width: 375px) {
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .LogoImage {
            width: 50px !important;
        }
        .Toastify__toast {
            min-height: 0;
        }
        .PhoneField {
            height: 35px !important;
            .country-list {
                width: 270px;
            }
        }
        .page-login-field {
            input {
                height: 35px !important;
            }
        }
        .selected--flag--option {
            height: 35px !important;
        }
        button {
            padding: 14px 50px;
        }
        .TitleModal {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
    }   
};
