@import 'UTILS_Style';

//for all block with className container
html{
  font-size: 10px;
}

body{
  background: black;
  overflow-x: hidden;
}
#root{
  width: 100%;
  height: 100%;
}

.container{
  max-width: $containerWidth;
  margin: auto auto;
}

.container-fluid{
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.fixed{
  position: fixed ;
  top:0;
  left:0;
  transition: all .5s ease;
  animation: fix 1s ease;
  width: 100%;
  z-index: 100;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide{
  @keyframes hideAnimation {
    from{
      opacity: 1;
    }
    to{
      opacity: 0;
    }
  }

  animation: hideAnimation 1 .5s 1 1;
}

.wrapperHTML {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.contentBody {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.slick-arrow {
  display: none;
  left: 33.33%
}

html,body{
  overflow-x: hidden;
}

input{
}