.CountryField {
    .flag-select {
        width: 100%;
        height: 100%;
        padding: 0;
        margin-bottom: 20px;
    }

    .selected--flag--option {
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .flag-options {
        width: 100%;
    }

    .flag-select .selected--flag--option .country-label {

        padding: 0 5px;
    }

    .selected--flag--option {
        &::before {
            z-index: 10;
        }
    }

    .country-label {}

    .country-flag {
        width: unset !important;
        height: unset !important;
        padding: 0 5px;
        display: flex;
        align-items: center;
    }

    .country-flag img {
        position: unset;
    }
    #country-form-control{
        width: 100%;
        height: 100%;
    }
}