.TextAreaMessage{
    position: relative;
    textarea{
        font-size: 14px !important;
        height: 45px;
        border-bottom: solid 0px rgba(0,0,0,0.1) !important;
        display: block;
        width: 100%;
        padding-left: 55px !important;
        padding-top: 5px;
        padding-right: 30px;
        height: 50px;
        border-radius: 30px!important;
        padding-top: 10px;
        padding-left: 15px;
        line-height: 28px;
        border: solid 1px rgba(0,0,0,0.1);
        transition: all 250ms ease;
        background-color: #191a1c;
        margin-top: 15px !important;
        &:focus{
            height: 130px;
        }
        @media screen and (max-width: 320px) {
            &:focus{
                height: 70px;
            }
        }
        &::placeholder {
            font-size: 14px;
            color: grey;
        }
    }
    #EditSVG{
        position: absolute;
        z-index: 1;
        left: 18px;
        top: 15px;
    }
}