.SelectAccountSection {
    .MainTitleSelect {
        padding: 0 20px;
        font-size: 20px;
        color: white;
        margin-top: 25px!important;
    }
    .slick-track {
        margin-bottom: 40px !important;
    }
    .slick-slide {
        margin-right: 0 !important;
        margin-left: 0 !important;
        height: 65px !important;
        border-radius: 0 !important;
        padding: 0 !important;
        position: relative;
        font-size: 20px;
        border-bottom: 0px dashed #ffffff8f;
        padding-bottom: 0px;
        margin-bottom: 5px;
        color: #b1b1b1;

        &::before {
            content: "";
            width: 15px;
            height: 100%;
            position: absolute;
            background: #3ea6f6;
            border-radius: 50px 0 0 50px;
        }
        div {
            height: 100% !important;
            padding-left: 15px !important; 
            padding-right: 9px !important; 
            display: flex !important;
            align-items: center !important;
            .CurrencyMaping{
                justify-content: space-between;
            }
        }
    }
    .slick-dots{
        z-index: 2;
    }
    @media screen and (max-width: 375px) {
        height: 100px !important;
        margin-bottom: 15px;
        margin-top: 65px;
        .slick-dots{
            bottom: 13px;
        }
    }
    @media screen and (max-width: 450px) {
        .slick-slide{   
            transition: all 1s;
            margin-left: 10px !important;
            margin-right: 10px !important;
            border-radius: 15px !important;
            background: #0c0c0d !important;
            &::before{
                background: #1d4e74 !important;
            }
            &.slick-active{
                background: #191a1c !important;
                &::before{
                    background: #3ea6f6 !important;
                }
            }
        }
    }
}