.page-hider{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    z-index:999999;
    background-color:rgba(255,255,255,1);
}

body #footer-menu a.home-icon i {
    font-size: 36px;
    background: #353a3f;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    padding-top: 14px;
    margin-top: 0px;
}
.home-content .button{    margin-bottom: 0px;}
.button.mb-0{    margin-bottom: 0px;}
.home-content.header-clear-larger {
    padding-top: 75px;    padding-bottom: 60px;
}
 #footer-menu a.home-icon i {
    color: #FFF !important;
}
#footer-menu a.home-icon.active-nav i{color: #3ea6f6!important;}
.profile-1 .profile-body.bg-theme.body-account {
    position: relative;
    border-radius: 5px;
    background-color: #FFFFFF;
    /*box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.04);*/
    box-shadow:unset;
    border: solid 1px rgba(0, 0, 0, 0);
    display: block;
    margin: 0px 15px;
    /*margin: 0px 20px;*/
    padding: 0px 10px;
    z-index: 10;
}
.card-home i{position: absolute;
    font-size: 42px;
    color: #fff6;
    top: 28%;}
    .fa-gbp:before {
    content: "\f154";
}
.fa-dollar:before, .fa-usd:before {
    content: "\f155";
}
.fa-eur:before, .fa-euro:before {
    content: "\f153";
}
.fa-bitcoin:before, .fa-btc:before {
    content: "\f15a" !important;
}
.card.card-home {
    padding: 15px 20px 15px 30px;margin: 0px 30px;
}
.invoice-box-item em {
    font-size: 12px !important;}