.Confirmation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .WrapperConfirmation{
        width: 300px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .imageBlock{
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        img{
            width: 135px;
        }
    }
}