.default-link {
    border: 1px solid #191a1c;
    background: #191a1c;
    border-left: 15px solid #3ea6f6 !important;
    width: 97%;
    margin: 0 auto;
    margin-bottom: 4%;
    float: left;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    color: #fff;
    align-items: center;
    .left-text{
        font-size: 20px;
        border-bottom: 0px dashed #ffffff8f;
        padding-bottom: 0px;
        margin-bottom: 5px;
        color: #b1b1b1;
        font-weight: 400 !important;
        margin-top: 5px!important;
        text-align: left!important;
        display: block;
    }
    &.default-link-send{
        margin: 0 auto;
        width: 98%;
        margin-bottom: 3% !important;
        .title-left-text{
            padding-left: 5px;
            font-weight: 300;
            font-size: 18px;
            color: #FFF;
            padding: 6px 0px;
        }
    }
    .ultrabold{
        margin-bottom: 5px;
        color: #fff;
        text-align: right;
        font-size: 25px;
        letter-spacing: .5px;
        font-weight: 400 !important;
        position: absolute;
        right: 35px;
        line-height: 35px;
    }
    .falSend{
        font-size: 34px;
        color: #2e3236;
        float: right;
        right: 6px;
        position: absolute;
        line-height: 25px;    
        padding: 5px 0px;
        border-radius: 2px;
        width: 22px;
        text-align: center;
        fill: #2e3236;
        transform: scale(1.5) rotate(0deg);

        &::before{
            content: "\f105";
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }
    }
    .fal{
        font-size: 34px;
        color: #2e3236;
        float: right;
        right: 12px;
        position: absolute;
        line-height: 25px;    
        padding: 5px 5px;
        border-radius: 2px;
        width: 22px;
        text-align: center;
        fill: #2e3236;
        transform: scale(1.5) rotate(0deg);

        &::before{
            content: "\f105";
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }
    }
    #CurrencySVG{
        fill: white;
        margin-right: 3px;
    }
}