#page-transitions{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .avatar{
        animation: animationLog 4s infinite;
        transition: all 2s;
        @keyframes animationLog {
           0% {
               transform: translateY(10px);
           }
           50% {
                transform: translateY(-50px);
           }
           100% {
                transform: translateY(10px);
           }
        }
    }
}
