.MainTitle{
    font-size: 38px;
}
@media screen and (max-width: 375px) {
    .MainTitle {
        padding-left: 23px !important;
        font-size: 18px !important;
    }
    .Home {
        padding-top: 67px;
        padding-bottom: 95px;   
        overflow-x: hidden;
        .MainTitleSlick{
            font-size: 18px !important;
            padding: 0 45px;
        }
        .slick-slider{
            .CurrencyFeed{
                display: flex;
                flex-direction: column-reverse;
            }
            .messageFeed{
                .p-dat{
                    font-size: 15px;
                }
                .center-left{
                    font-size: 13px;
                }
            }
        }
        .HomeContainer {
            padding: 0 22px;        
            .default-link{
                height: 58px;
                margin-bottom: 4% !important;
                .left-text{
                    font-size: 13px;
                }
            }
        }
    }
}
