.ServerPathError{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .TextServerPath{
        color: white;
        font-size: 22px;
        letter-spacing: 1px;
    }
    .ServerPathErrorReload{
        color: #00a8f9;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
}
.SelectAccountFrom .SelectAccountSection {
    margin-top: 0;
}

.SwapCurrencyContainer {
    margin-bottom: 75px;
}

.AmountCurrency{
    padding: 20px;
    .PhoneField{
        height: 50px !important;
    }
    .flag-dropdown{
        width: 15%;
        .selected-flag{
            width: 100% !important;
        }
    }
    #phone-form-control{
        padding-left: 16% !important;
    }
    @media screen and (max-width: 375px) {
        .flag-dropdown{
            width: 17%;
            .selected-flag{
                width: 100% !important;
            }
        }
        #phone-form-control{
            padding-left: 19% !important;
        }
    }
    @media screen and (max-width: 320px) {
        .flag-dropdown{
            width: 19%;
            .selected-flag{
                width: 100% !important;
            }
        }
        #phone-form-control{
            padding-left: 20% !important;
        }
    }
}

.ButtonSendAnotherUser{
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 2px;
}