.BaseCurrency{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
    align-items: flex-end;
    .amount-input{
        line-height: unset;
        border-bottom: solid 0px rgba(0,0,0,0.1);
        background-color: #000000;
        display: block;
        width: 50%;
        padding-left: 0;
        text-align: right;
        font-size: 46px;
        padding-right: 10px;
        border-radius: 0 !important;
    }
    .SendToCurrencyText{
        font-size: 20px;    
        color: rgba(255, 255, 255, 0.99);
        margin-bottom: 1px;
    }
    @media screen and (max-width: 375px) {
        margin-top: 30px;
        margin-bottom: 20px;
    }
}