.CurrencyFeed{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    .p-slider {
        margin-bottom: 20px;
        text-align: right;
        font-size: 19px;
        margin-top: 15px;
        color: #b1b1b1;
        span{
            font-size: 14px;
            color: #b1b1b1;
        }
        #CurrencySVG{
            fill: #b1b1b1;
            padding-right: 7px;
        }
    }
    
    .center-left {
        margin-bottom: 0;
        color: #b1b1b1 !important; 
        display: flex;
        flex-direction: column;  
        justify-content: flex-end;
        line-height: 23px;
        font-size: 13px;
    }
}
