.Error404{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 36px;
    text-align: center;
    .backLinkError{
        color: #3ea6f6;
        font-size: 13px;
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            text-decoration: underline;
        }
    }
}