// Font
$mainFont                : "Roboto", sans-serif;

// Color
$mainFontColor           : #101010;
$mainHeaderColor         : #123910;
$mainHeaderColor         : #444444;
$colorPurple             : #FF1B4F;
$colorLightGray          : #FAFAFA;
$colorLimeGreen          : #97c89a;
$mainBackgroundColor     : #f7f7f7;
$colorSoftBlue           : #8ecdf6;
$colorSoftGreen          : #c8dd99;
$lightGrey               : #E5E4E4;

// Size
$mainFontSize            : 10px;
$mainFooterSize          : 13px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;
$mainBlockSize           : 15.62vmax;
$itemSizeBlock           : calc(100% / 4 - 0.83vw);
$CubeSize                : 15vmax;
$containerWidth          : 1200px;

// Size Display
$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;




// Main color
$default-color           : #ffffff;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;
$accent                  : #F0650D;
$dark                    : #293A43;
$light                   : #EDEDED;
$grey                    : #485A65;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;
$neutral-secondary       : #909399;