.NavigationItem{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .wrapperSVG{
        border: 1px solid white;
        border-radius: 5px;
        line-height: 0;
        padding: 0px 2px;
    }
    #NavigationItemSVG{
        fill:#fff;
    }
    .NavigationContent{
        color: white;
        font-size: 10px;
    }
}