.messageFeed{
    display: flex;
    flex-direction: column;
    .p-dat{
        margin-bottom: 10px;
        font-size: 16px;
        color: #b1b1b1;
    }
    .p-discription{
        font-size: 14px;
        line-height: 20px;
    }
    .center-left{
        margin-bottom: 0;
        color: #b1b1b1;
    }
}