.Input {
    position: relative;
    display: flex;
    align-content:center ;
    input {
        margin-bottom: 10px;
    }
    #InputSVG{
        position: absolute;
        z-index: 1;
        top: 27%;
        left: 4.5%;
    }
}