.WelcomePage {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .WelcomeContent {
        width: 100%;
        height: 100%;
        .ContantUI{
            color: white;
            font-size: 15px;
            margin-top: 40px!important;
            text-transform: uppercase;
            font-size: 13px;
        }
    }
}