.Modal {
    font-size: 18px;
    .modalHeader {
        h2 {
            padding: 5px 10px 0 10px;
            color: white;
        }

        p {
            padding: 0 10px 5px 10px;
            text-align: end;
            color: white;

            a {

                &:hover {
                    color: rgb(197, 197, 197);
                }
            }
        }
    }
}

.Modal_backround {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.521);

    &>div {
        background-color: white;
    }
}