.footer {
    display: flex;
    justify-content: center;
    @media screen and ( max-width: 375px ) {
        .Navigation {
            position: fixed;
            bottom:0;
            left:0;
            width: 100%;
            max-height: 85px;
            background-color: black;
            width: 100%;
            ul li{
                padding-bottom: 0;
                padding: 0;
                height: 100%;
            }
        }
    }
}
