.modal {
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    /* padding-top: 80px; */
    align-items: center;
}
    
/* Modal content */
.modal-content {
  background-color: white;
  width: 70%; /* Width in proportion to its parent container*/
  max-width: 500px; /* Max width where it stops expanding */
  height: 250px; /* Height in proportion to its parent container */
  margin: auto; /* Auto margin according to the element width */
  padding: 10px;
  border-radius: 20px; /* Optional. Rounds container corners */
}

.modal-flex {
  display: flex;
  height: 100%; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-flex button{
    padding: 15px 20px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: background .5s ease;
}

.modal-flex .Right{
    background: rgba(0, 250, 0, .5)
}

.modal-flex .Right:hover{
    background: rgba(0, 250, 0, .8)
}

.modal-flex .Wrong{
    background: rgba(250, 0, 0, .5)
}
.modal-flex .Wrong:hover{
    background: rgba(250, 0, 0, .8)
}


.modal-info {
  background-color: #888;
  border: 1px solid #888;
}

/* Close button */
.close {
  color: #aaaaaa;
  float: right; /* Positioned to the right of the parent container whichever size it is */
  font-size: 25px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}