//Colors
$colorSilver: #6b6b6b;

.Navigation {
    width: 100%;
    ul {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        li {
            padding: 15px 20px;
            color: $colorSilver;
            .NavigationItem {
                font-size: 17px;
                width: 100%;
                height: 100%;
                display: block;
                color: $colorSilver;
                cursor: pointer;
                // &.active {
                //     background-color: rgb(226, 226, 226);
                // }
                &.HomeItem{
                    background: rgba(53, 58, 63, .8);
                    padding: 15px;
                    border-radius: 50%;
                    width: max-content;
                    margin-bottom: 5px;
                    #HomeSVG{
                        font-weight: 900;
                        fill: #3ea6f6;
                    }
                }
            }
        }
    }
}
