@media screen and (max-width: 375px) {
    .SendPage {
        padding-top: 67px;
        padding-bottom: 95px;   
        .SendPageContainer{
            padding: 0 18px;
            .default-link {
                height: 58px;
                .title-left-text{
                    font-size: 16px;
                }
                .fal{
                    right: 8px;
                }
            }
        }
    }
}
