$pinpad-color: #212121;
$dot-size: .8em;
$number-size: 2.5em;

#pin {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1em;
	border-radius: .3em;
	margin: auto;
    color: rgba(255,255,255,.2);
    .FormLoginLink{
        text-align: center;
        color: #aaaaaa;
        font-size: 10px;
        line-height: 1;
    }
}
.dots {
	width: 50%;
	display: flex;
	justify-content: space-around;
	padding: 1em;
	padding-top: 3em;
}
.dot {
	position: relative;
	background: rgba(255,255,255,.2);
	border-radius: $dot-size;
	width: $dot-size;
	height: $dot-size;
	transform: scale3d(.7,.7,.7);
	&.active {
		animation: growDot .5s ease;
		animation-fill-mode: forwards;
	}
	&.wrong {
		animation: wrong .5s ease;
	}
	&.correct {
		animation: correct .7s ease;
	}
}
#pin p {
	font-size: .8em;
}
.numbers {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	align-content: flex-end;
}
.number {
	position: relative;
	text-align: center;
	cursor: pointer;
    transition: all .5s ease;
    width: 33.33%;
    padding: 1.3em;
}

@keyframes growDot {
	100% {
		background: white;
		transform: scale3d(.9,.9,.9);
	}
}

@keyframes wrong {
	40% {
		transform: translate(-15px, 0);
	}
	60% {
		transform: translate(10px, 0);
	}
	80% {
		transform: translate(-5px, 0);
	}
}
@keyframes correct {
	20% {
		
	}
	40% {
		transform: translate(0, -15px);
	}
	60% {
		transform: translate(0, 10px);
	}
	80% {
		transform: translate(0, -5px);
	}
}
