.slick-list {
    .slick-track {
        position: relative;
        padding: 0px 10px;
        display: flex;
        .slick-slide {
            margin: 15px 15px;
            display: flex;
            background: #191a1c;
            padding: 15px 18px;
            border-radius: 20px;
            height: 155px;
            width: 90% !important;
            overflow: hidden;
            div {
                width: 100%;
                height: 100%;
                div {
                    width: 100%;
                    height: 100%;
                }
            }
            .double-slide {
                display: flex;
            }
        }

    }
}
.slick-arrow{
    display: none !important;
}
.slick-next{
    display: none !important;
}
.MainTitleSlick {
    padding: 0 50px;
    font-size: 20px !important;
    color: white;
}

.slick-dots {
    li {
        margin: 0px;
        button {
            &::before {
                content: "";
                border-radius: 50px;
                height: 10px;
                width: 10px;
                display: inline-block;
                background: rgba(101, 101, 101, 0);
                margin-left: 3px;
                margin-right: 3px;
                color: white !important;
                border: 1.6px solid #fff;
            }

        }

        &.slick-active {
            button {
                &::before {
                    content: "";
                    border-radius: 50px;
                    height: 10px;
                    width: 10px;
                    display: inline-block;
                    background: rgba(101, 101, 101, 0);
                    margin-left: 3px;
                    margin-right: 3px;
                    color: white !important;
                    border: 1.6px solid #fff;
                    background: white;
                }
            }
        }
    }
}