.FormLogin{
    .FormButton{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .FormLoginLink{
        text-align: center;
        color: #aaaaaa;
        font-size: 10px;
        line-height: 1;
    }
}
