.Confirm{
    display: flex;
    flex-direction: column;
    align-items: center;
    .WrapperConfirm{
        width: 300px;
        text-align: center;
    }
    .ConfirmButton{
        font-size: 14px;
        margin: 0 auto;
    }
    .BackLink{
        color: #b1b1b1;
        font-size: 14px;
        word-spacing: 0.4px;
        .NoBack{
            border-bottom: 1px solid;
        }
    }
}